* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vw;
    border-radius: 2vw;
}

div form {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 25vw;
}

label {
    font-size: 2.5vh;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 1vh 0;
}

input {
    border-radius: 10vh;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    height: 4vh;
    padding-left: 1vw;
}

button {
    border: 0.5vh solid white;
    border-radius: 3vh;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0.5vh;
    background-color: white;
    transition: 0.2s;
}
button:hover {
    background-color: black;
    color: white;
}